{% extends 'layout.html.twig' %}

{% block content %}
<div class="wrapper grupo grupo-a-tribo">
    <article class="media">
        <div class="media__img--rev">
            {% set item = {'rotulo': 'titulo_sobre_a_tribo', 'imagem': app.request.basepath ~ "/images/sobre-a-tribo.jpg", "width": "580", "height": "213"} %}
            {{ include('/includes/partials/box.html.twig', { "item": item }) }}
        </div>
        <div class="media__body">
            <h2 class="titulo">{{ 'titulo_a_tribo'|trans }}</h2>
            {{ 'conteudo_a_tribo'|trans|raw }}
        </div>
    </article>
    <hr class="rule gray">
    <img src="{{ app.request.basepath }}/images/slogan-{{ locale }}.png" class="sloganImg" alt="{{ 'slogan'|trans|raw }}">
    <hr class="rule gray">
    <article id="quemSomos">
        <h2 class="titulo">{{ 'titulo_quem_somos'|trans }}</h2>
        <div class="que-somos">
        {%- for item in app.dados.quemsomos -%}
        <div class="team">
            <figure>
                <img src="{{ app.request.basepath }}/images/tribo/{{ item.imagem }}.jpg" alt="{{ item.nome }}">
                {# <img src="{{ app.request.basepath }}/images/tmp/{{ item.imagem }}" alt="{{ item.nome }}"> #}
                <figcaption class="caption">
                    <strong>{{ item.nome }}</strong><br>
                    {{ item.cargo }}
                </figcaption>
            </figure>
            <div class="teamDetail hidden">
                <div class="media">
                    <img class="media__img" src="{{ app.request.basepath }}/images/tribo/{{ item.imagem }}_aberto.jpg" alt="{{ item.nome }}">
                    {# <img class="media__img" src="{{ app.request.basepath }}/images/tmp/{{ item.imagem }}" alt="{{ item.nome }}"> #}
                    <div class="media__body">
                        <h3>{{ item.nome }}</h3>
                        <h4>{{ item.cargo }}</h4>

                        {{ item.cv|raw }}
                    </div>
                </div>
            </div>
        </div>
        {%- endfor -%}
        </div>
    </article>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var likeAGoogleImages = new LikeAGoogleImages('#quemSomos', '> .que-somos:eq(0) > .team', '> .teamDetail:eq(0)');
</script>  
{% endblock %}
