<article class="setores{{ end ? ' g-d-l' : '' }}">
    <h1>{{ titulo|trans }}</h1>
    <p>
        <strong class="txt-color-orange caps">{{ info.headquarter.cidade }}</strong><br>
        <strong class="caps">{{ info.headquarter.negocios.nome }}</strong><br>
        <a class="white caps" href="mailto:{{ info.headquarter.negocios.email }}">{{ info.headquarter.negocios.email }}</a>
    </p>
    <div class="mar-10">...</div>
    <p>
        <strong class="txt-color-orange caps">{{ info.filial.cidade }}</strong><br>
        <strong class="caps">{{ info.filial.negocios.nome }}</strong><br>
        <a class="white caps" href="mailto:{{ info.filial.negocios.email }}">{{ info.filial.negocios.email }}</a>
    </p>
</article>