{% extends 'layout.html.twig' %}

{% block content %}
<article class="wrapper grupo grupo-ultima-show">
    <h2 class="titulo g-d-18">{{ 'titulo_ultimas'|trans }}</h2>
    <div class="g-d-6 g-d-l text--right">
        {{ include('/includes/partials/btn-voltar.html.twig', { url: url('ultima')} ) }}
    </div>
    {% set size = item.galeria ? 12 : 24 %}
    {% if item.galeria %}
        <div class="g-d-{{ size }}">
            <div class="flexslider galeria" id="galeria-de-fotos">
                <ul class="slides">
                    {% for i in item.galeria %}
                    <li>
                        <img src="{{ i.imagem }}" alt="{{ item.titulo }}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flexslider thumbs" id="galeria-de-fotos-thumbs">
                <ul class="slides">
                    {% for i in item.galeria %}
                    <li class="item">
                        <i class="overlay"></i>
                        <img src="{{ i.thumb }}" data-image="{{ i.imagem }}" class="thumb" alt="thumb">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="g-d-{{ size }} g-d-l conteudo">
        <h3>{{ item.titulo }}</h3>
        {{ item.descricao|raw }}
    </div>
</article>
{% endblock %}