{% extends 'layout.html.twig' %}

{% block content %}
<section class="wrapper grupo grupo-ultima-show">
    <h2 class="titulo g-d-18">{{ 'titulo_ultimas'|trans }}</h2>
    <div class="g-d-6 g-d-l text--right">
        {{ include('/includes/partials/btn-voltar.html.twig', { url: url('ultima')} ) }}
    </div>
    <article class="cf">
        {% set grid = 24 %}
        {% if item.galeria|length > 0 %}
            {% set grid = 12 %}
            <div class="g-d-{{ grid }}">
                {# Slide imagens #}
                <div class="flexslider galeria g-d-{{ grid }}" id="galeria-de-fotos">
                    <ul class="slides">
                        {% for i in item.galeria %}
                        <li>
                            <img src="{{ i.imagem }}" alt="{{ item.titulo }}">
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {# Slide thumbs #}
                <div class="flexslider thumbs g-d-{{ grid }}" id="galeria-de-fotos-thumbs">
                    <ul class="slides">
                        {% for i in item.galeria %}
                        <li class="item">
                            <i class="overlay"></i>
                            <img src="{{ i.thumb }}" data-image="{{ i.imagem }}" class="thumb" alt="thumb">
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="g-d-{{ grid }} g-d-l conteudo">
            <h3>{{ item.titulo }}</h3>
            {{ item.descricao|raw }}
        </div>
    </article>
</section>
{% endblock %}