<div class="box">
    <figure class="cap cap-bottom">
        <a href="{{ item.url }}">
            <img src="{{ item.imagem }}" class="" alt="{{ item.nome }}">
        </a>
        <div class="btn btn-info extra">
            <span>{{ item.rotulo }}</span>
        </div>
        {% if item.chamada %}
            <figcaption class="caption is-full">
                <a class="white" href="{{ item.url }}">{{ item.chamada }}</a>
            </figcaption>
        {% endif %}
    </figure>
</div>