<footer>
    <div class="g-d-8 opacity bb pad-10">
        <strong>{{ app.dados.nome }}</strong> {{ 'slogan'|trans }}
    </div>
    <div class="g-d-8 bb pad-t-10 pad-b-10 text--center caps">
        <strong>{{ app.dados.local.headquarter.cidade }}</strong> {{ app.dados.local.headquarter.telefone }} | <strong>{{ app.dados.local.filial.cidade }}</strong> {{ app.dados.local.filial.telefone }}
    </div>
    <div class="g-d-8 g-d-l bb pad-10 text--right"><small>© Copyright {{ app.dados.nome }} {{ "now"|date("Y") }}</small></div>
</footer>