<header class="pad-t-20 mar-b-20">
    <div class="g-d-5">
        <div class="lingua-and-slogan">
            {{- knp_menu_render('lingua', {"compressed": true}, renderer ) -}}
            <p class="bottom fs-11 mar-0">{{ 'slogan'|trans }}</p>
        </div>
        <hr class="rule flush">
    </div>
    <div class="g-d-14 text--center">
        <h1 class="flush">
            <a href="{{ url('homepage') }}" class="ir geral-logotipo mar-b-20 ">{{ app.title }}</a>
        </h1>
        <hr class="rule flush">
        {{- knp_menu_render('main', {"compressed": true}, renderer ) -}}
    </div>
    <div class="g-d-5 g-d-l text--right">
        <div class="social-and-busca">
            {{- knp_menu_render('social', {"compressed": true}, renderer ) -}}
        </div>
        <form action="{{ url('busca') }}" method="get" class="frmBusca">
            <input type="text" name="q" class="inputBusca" placeholder="{{ 'label_busca'|trans }}">
        </form>
        <hr class="rule gray flush">
        <p class="fs-11 mar-0 caps  pad-t-20 pad-b-20">
            <strong>{{ app.dados.local.headquarter.cidade }}</strong> {{ app.dados.local.headquarter.telefone }}<br>
            <strong>{{ app.dados.local.filial.cidade }}</strong> {{ app.dados.local.filial.telefone }}
        </p>
    </div>
    <hr class="rule g-d-24 flush">
</header>
