{% extends 'layout.html.twig' %}

{% block content %}
<section class="wrapper grupo grupo-contato">
    <h2 class="titulo">{{ 'titulo_contato'|trans }}</h2>

    {{ include('/contato/partial/box-mapa.html.twig', {info: app.dados.local.headquarter}) }}
    {{ include('/contato/partial/box-mapa.html.twig', {info: app.dados.local.filial, end: true}) }}

    {{ include('/contato/partial/box-setor.html.twig', {titulo: 'titulo_novos_negocios', info: app.dados.local}) }}
    {{ include('/contato/partial/box-setor.html.twig', {titulo: 'titulo_assessoria_de_imprensa', info: app.dados.local}) }}
    {{ include('/contato/partial/box-setor.html.twig', {titulo: 'titulo_trabalhe_conosco', info: app.dados.local, end: true}) }}

</section>
{% endblock %}