{% set isFull = isFull ? 'is-full' : '' %}
<div{% if css %} class="{{ css }}"{% endif %}>
    <figure class="cap cap-bottom" data-url="{{ item.url }}">
        {% if item.url %}
            <a href="{{ item.url }}">
                <img src="{{ item.imagem }}" class="" alt="{{ item.rotulo }}" width="{{ item.width }}" height="{{ item.height }}">
            </a>
        {% else %}
            <img src="{{ item.imagem }}" class="" alt="{{ item.rotulo }}" width="{{ item.width }}" height="{{ item.height }}">
        {% endif %}
        <div class="btn btn-info extra">
            {% if item.cliente %}
                <span class="pad-r-0">{{ 'cliente'|trans }}:</span> <span class="txt-color-grayLight pad-l-0">{{ item.cliente }}</span>
            {% else %}
                <span>{{ item.rotulo|trans }}</span>
            {% endif %}
        </div>
        {% if item.chamada %}
            <figcaption class="caption {{ isFull }}">
                {{ item.chamada }}
                <img src="{{ app.request.basepath }}/images/plus.png" class="plus" alt="+">
            </figcaption>
        {% endif %}
    </figure>
</div>