{% extends 'layout.html.twig' %}

{% block content %}
<section class="wrapper grupo grupo-trabalho">
    <div class="cf">
        <h2 class="titulo g-d-14">{{ 'titulo_trabalhos'|trans }}</h2>
        <div class="g-d-10 g-d-l text--right">
            <select class="theCombo theComboFilter">
                <option value="*">{{ 'clientes'|trans }}</option>
                {% for item in clientes %}
                    <option value=".{{ item.slug }}">{{ item.nome }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="packery" id="packeryTrabalho" data-maxPage="{{ paginas }}">
        {{ include('/trabalho/partial/box-lista.html.twig', { "boxes": boxes }) }}
    </div>
    {% if pagina < paginas %}
        <div id="page_nav" class="hidden">
            <a href="{{ url('trabalho_pagina', { 'page': 2 }) }}" class="loadmore text--center"><i class="ir geral-refresh">Carrega mais</i></a>
        </div>
    {% endif %}
</section>
{% endblock %}

