{% extends 'layout.html.twig' %}

{% block content %}
<article class="wrapper grupo grupo-trabalhos">
    <h2 class="titulo g-d-16">{{ item.nome }} <small class="sub-titulo">Cliente: {{ item.cliente }}</small></h2>
    <div class="g-d-8 g-d-l text--right">
        <span class="caps txt-color-grayLight fs-13 pad-r-10">{{ 'compartilhar'|trans }}</span>
        <a href="#" class="ir geral-facebook">Facebook</a>
        <a href="#" class="ir geral-twitter">Twitter</a>
        <a href="#" class="ir geral-pinterest mar-r-10">Pinterest</a>
        {{ include('/includes/partials/btn-voltar.html.twig', { url: url('trabalho') }) }}
    </div>

    <img src="{{ item.imagem }}" alt="{{ item.nome }}" class="imagem-destaque">

    {% if item.galeria %}
        <div class="g-d-16">
            <div class="image-list">
            {% for i in item.galeria %}
                {% if i.video %}
                <a class="image-list-item fancybox-media fancybox.iframe" rel="galeria" href="{{ i.video }}" title="{{ item.nome }}">
                    <img src="{{ i.thumb }}" alt="{{ item.nome }}">
                </a>
                {% else %}
                    <a class="image-list-item fancybox-media" rel="galeria" href="{{ i.imagem }}" title="{{ item.nome }}">
                        <img src="{{ i.thumb }}" alt="{{ item.nome }}">
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {% set size = item.galeria ? 8 : 24 %}
    <div class="g-d-{{ size }} g-d-l conteudo">
        <h3 class="titulo-secao">{{ 'sobre_o_projeto'|trans }}</h3>
        {{ item.descricao|raw }}
        <p>URL: <a href="{{ item.url }}" class="grayLight" target="_blank">{{ item.url }}</a></p>
        <hr class="hr">
        <h3 class="titulo-secao">{{ 'o_que_fizemos'|trans }}</h3>
        {{ item.oquefizemos|raw }}
    </div>
    {% if item.relacionados %}
        <h2 class="titulo-secao">{{ 'projetos_relacionados'|trans }}</h2>
        <div class="container-box">
            {% for relacionado in item.relacionados %}
                {% set relacionado = relacionado|merge({ 'rotulo': relacionado.nome, 'url': url('trabalho_show', { 'slug': relacionado.slug }) }) %}
                {{ include('/includes/partials/box.html.twig', { "item": relacionado, "css": 'box', "isFull": true }) }}
            {% endfor %}
        </div>
    {% endif %}
</article>
{% endblock %}